# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environment
venv/
.env/

# Django
*.log
staticfiles/
media/

# React / Node
node_modules/
build/
dist/

# OS files
.DS_Store
Thumbs.db
